.app__signup{
  display: flex;
  flex-direction: column;
}

.app__header{
  position: sticky;
  top:0;
  z-index: 1;  /*fix the overlaping bug for other element*/
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 10px;   
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.hedaer__logo{
  margin-left: 10px;
  object-fit: fill;
}

.app__posts{
  padding: 10px 4px;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}
.app__postsRight{
  margin-left: 10px;
}