
.header{
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    padding: 10px;    
    justify-content: space-between;
}
.hedaer__logo{
    margin-left: 10px;
    object-fit: fill;
}