.imageupload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-bottom: 1.5px solid lightgray;
    
}
.imageupload__progress
{
    width: 100%;

}
input[type=file],input[type=text]{
    border: none;
    padding: 5px;
    margin: 2px;   
    
}
input[type=text]{
    border-radius: 5px;
    border: 1px solid lightgray;
}